.App {
  font-family: sans-serif;
  text-align: center;
}

.webcam {
  border: 1px solid gray;
  margin: 2px;
}

.inputImage {
  display: none;
}

.outputImage {
  border: 1px solid blue;
  margin: 2px;
}
